/* ============== COMMON CODE FOR ALL ============= */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

.half-width {
    width: 50%;
}

.button {
    border-radius: 5px;
    background-image: linear-gradient(90deg, #fa9f91, tomato);
    padding: 10px 25px;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.color-orange {
    color: orange;
}

h4 {
    margin: 20px 0;
    font-size: 20px;
}

/* ============== First Section / Welcome Section ============= */
#first-section {
    background-image: url(image/top-banner.png);
    background-repeat: no-repeat;
}

.first-area {
    display: flex;
    max-width: 1240px;
    width: 96%;
    margin: 0 auto;
}

.first-area .text-area {
    margin-top: 60px;
}

.text-area h1 {
    font-size: 44px;
    line-height: 100px;
}

.first-area .text-area p {
    width: 90%;
}

.text-area p {
    text-align: justify;
    margin-bottom: 20px;
    font-size: 18px;
}

.first-area img {
    width: 90%;
    margin-top: 10px;
    margin-left: 10%;
}




/* ============== Second Section / Dream Big ============= */
#second-section {
    background-image: url(image/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.second-area {
    display: flex;
    max-width: 1240px;
    width: 96%;
    margin: 0 auto;
    margin-top: 100px;
}

.second-area img {
    width: 90%;
}

.second-area .text-area {
    padding-left: 100px;
    margin-top: 50px;
}




/* ============== Bottom Section / Experiences ============= */
#bottom-section {
    margin: 100px 0;
    background-image: url(image/exp-bg.png);
    background-repeat: no-repeat;
    background-position-y: center;
}

#bottom-section #experiences {
    font-size: 40px;
}

.card-area {
    display: flex;
    max-width: 1240px;
    width: 96%;
    margin: 0 auto;
    margin-top: 30px;
}

.card {
    height: 350px;
    box-shadow: 1px 1px 20px gray;
    padding: 20px 0 0 20px;
    width: 46%;
}

.card h1 {
    font-size: 40px;
}

.card p {
    font-size: 18px;
}

.card1 {
    margin-right: 4%;
    border-left: 5px solid tomato;
}

.card2 {
    margin-left: 4%;
    border-left: 5px solid blue;
}


/* ============== Footer ============= */

footer p {
    text-align: center;
    margin: 10px 0;
}